/* This makes these colors accessible across the entire project, so we can define a color theme here and use them in styling components */
:root {
  --primary-color: #007bff;
  --secondary-color: #00ff00;
  --background-color: #1a1a1a;
  --text-color: #d3d3d3;
  --highlight-color: #ff6600;
  --secondary-text-color: #a9a9a9;
  --error-color: #ff3b30;
}

html {
  background-color: var(--background-color);
}

.App {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
}

.navbar {
  /* Styling for positioning within parent element */
  grid-row: 1;
  grid-column: 1 / -1;
  border: 1px solid black;
  /* Styling within navbar */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
}

.filter {
  /* Styling for positioning within parent element */
  grid-column: 1;
  grid-row: 2 / -1;
  border: 1px solid black;
  /* Styling within navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}

.dashboard {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gamecard {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
